.container{
    background-color: azure;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.i{

    display: flex;
    align-items: center;
    justify-content: center;
    flex:1;
    margin: 3px;
}

.login{   margin: 22px;}
.loginregister{
    display: flex;
    align-items: center;
}
